<!DOCTYPE HTML SYSTEM>
<html>
<head>
<title>piqdure></title>
<meta http-equiv="refresh" content="10" />
<style type="text/css">
    #photos {
    height: 100%;
    font-size: 0; /* Remove spaces */
    }
    #photos > img{
        width: 25%;
        height: 50%;
    }

</style>

</head>
<body>
<div id="photos">
        {% for pic in our_pics %}<img src="{{ pic.url }}" alt=""/>
        {% endfor %}
        {% for pic in their_pics %}<img src="{{ pic.url }}" alt=""/>
        {% endfor %}
</div>
</body>
</html>
