<!DOCTYPE HTML SYSTEM>
<html>
<head>
<title>piqdure></title>
<meta http-equiv="refresh" content="10" />
<style type="text/css">
body {
    height: 800px;
}
tr {
    height: 33%;
    max-height: 33%;
}

td {
    width: 25%;
}

img {
    display: block;
    height: 100%;
    width: 100%;
}
</style>

</head>
<body>
<table>
<tr>
{% for pic in our_pics %}
<td><img src="{{ pic.url }}" alt=""/></td>
{% endfor %}
</tr>
<tr>
{% for pic in their_pics %}
<td><img src="{{ pic.url }}" alt=""/></td>
{% endfor %}
</tr>
</table>
</body>
</html>
